<html>
{{>head}}
<body>
<script type="text/javascript">

    function submitClassifier() {
        // get the input
        var className = $("#code").val();

        if (className) {
            $.ajax(hostaddr + '/classifier/' + className, {
                method : 'POST',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded'
                }
            }).done(function (/*data, statusText, xhr*/) {
                $("#success").show();
                $("#danger").hide();
                $("#warn").hide();
                $("#error").hide();
            }).fail(function (data/*, statusText, xhr*/) {
                if (data.status === 403) {
                    $("#success").hide();
                    $("#danger").hide();
                    $("#warn").show();
                    $("#error").hide();
                } else {
                    $("#success").hide();
                    $("#danger").hide();
                    $("#warn").hide();
                    $("#error").show();
                }
            });

        } else {

            $("#danger").show();
            $("#success").hide();
            $("#warn").hide();
            $("#error").hide();
        }

        console.log(className);
    }

    $("#danger").hide();
    $("#success").hide();
    $("#warn").hide();
    $("#error").hide();
</script>
<div class="container">
    <div class="row" style="height:20%;">
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class='col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Welcome to the Instructor Page!</h3>

                    <p>This page is intended to allow instructors and/or educators to create a classifiers.</p>
                    <p>
                        Enter a code to identify the classifier that your group is creating.
                    </p>

                    <p>
                        Save this code and make sure your students enter it when prompted.
                    </p>

                    <p>
                        Use this code to identify the classifier while testing the classifier as well.
                    </p>

                    <p>
                        The code should only consist of numbers and letters (no spaces or punctuation).
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='row' style="">
        <div class='col-sm-3'>
        </div>
        <div class="center-block col-sm-6">
            <form id="input-form">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">Code</span>
                    <input type="text" class="form-control" onKeyPress="manageKeyPress()" placeholder="myClassifier"
                           aria-describedby="sizing-addon1" id="code" autofocus="autofocus">
							<span class="input-group-btn">
						        <button class="btn btn-success" onclick="submitClassifier();" type="button">Go!</button>
						    </span>
                </div>
            </form>
        </div>
        <div class='col-sm-3'>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-3'>
        </div>
        <div class='col-sm-6'>
            <div id="success" class="alert alert-success" role="alert" hidden>
                Code Sent To Server!
            </div>
            <div id="danger" class="alert alert-danger" role="alert" hidden>
                Please fill out the code and attributes fields
            </div>
            <div id="warn" class="alert alert-warning" role="alert" hidden>
                A classifier with that name already exists! Please try another name!
            </div>
            <div id="error" class="alert alert-warning" role="alert" hidden>
                Error contacting server, request did not go through. Classifier not created.
            </div>
        </div>
        <div class='col-sm-3'>
        </div>
    </div>

    <div class='row'>

        <div class='col-sm-3'>
        </div>
        <div class="center-block col-sm-6" style="text-align:center;">
            <a href='index'>
                <button type="button" class="btn btn-primary btn-lg btn-block">Back to Start</button>
            </a>
        </div>
        <div class='col-sm-3'></div>

    </div>
</div>


</body>
</html>
