<html>
{{> head}}
	<body>
		<div class="container">
			<div class="row" style="height:35%;">
			</div>
			<div class='row' style="">
				<div class='col-sm-3'>
				</div>
				<div class="center-block col-sm-6">

					<p>Actua's Bigdata App is down for maintenance, sorry for the inconvenience. Please check back in a bit!</p>

				</div>
				<div class='col-sm-3'></div>
			</div>	
		</div>
	</body>
</html>
