html, body {
	height: 100%;
}

body {
	background-color:#40CAFC;
	min-height: 100%;
}

#app-body {
	height: 100%;
}

#data-wrapper {
	max-width:1175px;
}

.main-button {
    height:75px;
}

.main-button-md {
    height:96px;
}

.main-button-lg {
    height : 83px;
}

.button-spacer{
    height:20px;
}

#info-panel {
    height:350px;
    max-height:350px;
    min-height:200px;
}
