html, body {
	height: 100%;
}

body {
	background-color:#40CAFC;
	min-height: 100%;
}

#app-body {
	height: 100%;
}

#data-wrapper {
	max-width:1175px;
}

.main-button {
    height:75px;
}

.main-button-md {
    height:96px;
}

.main-button-lg {
    height : 83px;
}

.button-spacer{
    height:20px;
}

#info-panel {
    height:410px;
    max-height:500px;
    min-height:350px;
}

.input-table th {
    border-top:none !important;
}

.input-table th,
.input-table td input{
    width:150px;
}

.input-table .remove-button {
    width:25px;
}
